<header class="grad">
    <div class="hero min-h-screen">
       
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">Make a <span
                        class="underline decoration-[#ffaf3e] decoration-[solid decoration-[12px]  underline-offset-[5px]">Difference</span>
                    Today</h1>
                   
                <p class="py-6">
                    Join us in driving change by supporting causes that matter. Together, we can create a brighter
                    future for all.
                </p>
                <button type="button" class="btn btn-primary">
                    <a href="#join-cause">Join the Cause</a>
                </button>
            </div>
        </div>
    </div>
</header>